
/* variables */
/* font faces */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  outline-style: none;
}

header {
  background: #333;
  width: 100%;
  height: 10%;
}
header img {
  background-color: tomato;
  width: 20px;
}