/* variables */
:root {
  --primary: rgb(55, 177, 218);
  --secondary: rgb(26, 60, 211);
  --tertiary: rgb(214, 212, 212);
  --base: rgb(15, 13, 13);
  --success: green;
  --fav: rgba(95, 189, 179, 0.226);
}

/* font faces */
@font-face {
  font-family: 'roboto-bold';
  src: url(fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: 'roboto-reg';
  src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: 'ubuntu-medium';
  src: url(fonts/Ubuntu-Medium.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  outline-style: none;
  color: var(--base);
}

body {
  background: var(--fav);
}

header {
  background: transparent;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 5px 10px -5px #333;
  /* transition: 1s ease; */
}

header h2 {
  color: var(--secondary);
  font-family: 'roboto-bold';
  letter-spacing: 3px;
  text-shadow: 1px 2px 2px #333;
  font-weight: bolder;
  font-size: xx-large;
  border-bottom: 1px solid var(--primary);
  padding-bottom: 10px;
  transition: 1s ease;
}
header h2:hover {
  border-bottom: 4px solid var(--primary);
  box-shadow: 0 5px 10px -5px #333;
  cursor: pointer;
}
.social a {
  padding: 5px;

}

.social a#img2 img {
  background: #fff;
}
header img {
  /* background-color: tomato; */
  width: 30px;
  border-radius: 50%;
  transition: 1s ease;
}
header img:hover {
  width: 35px;
  box-shadow: 0 0 5px var(--primary);
}

main {
  margin: 20px;
  padding: 10px;
  box-shadow: 0 0 3px var(--secondary);
  transition: 1s ease;
}
main:hover {
  box-shadow: 0 0 8px var(--secondary);
}

main .card {
  display: flex;
  justify-content: space-around ;
  border: none;
  position: relative;
  margin-bottom: 20px;
  padding: 10px;
  background: var(--secondary);
  border-radius: 5px;
  box-shadow: 0 0 5px #333;
  align-items: center;
}

.card img.header {
  /* position: relative; */
  border-radius: 40%;
  width: 150px;
  height: 170px;
}

.card .content {
  text-align: center;
  align-self: center;
}
.content h1, .content h3 {
  color: var(--tertiary);
  padding: 20px;
  font-family: 'roboto-reg';
  letter-spacing: 2px;
  font-weight: bolder;
  font-size: x-large;
}

.content .cta {
  padding: 20px;
}
.cta .button {
  color: var(--tertiary);
  padding: 10px;
  margin: 5px;
  background: teal;
  border: none;
  border-radius: 25px;
  font-family: 'ubuntu-medium' !important;
  font-weight: bolder;
  font-size: x-large;
  cursor: pointer;
  transition: 1s;
}
.cta .button:hover {
  background: var(--tertiary);
  color: teal;
  border: 1px solid teal;
}
main .about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

ul.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  padding: 5px;
}

.info h3 {
  color: var(--primary);
  padding: 20px;
  font-family: 'ubuntu-medium';
  letter-spacing: 2px;
  font-weight: bolder;
  font-size: x-large;
  padding-bottom: 0px;
}

.info p {
  color: var(--base);
  padding: 10px;
  font-family: 'roboto-reg';
  letter-spacing: 1px;
  font-weight: bold;
  font-size: large;
}

ul li {
  font-family: 'roboto-reg';
  letter-spacing: 1px;
  font-weight: bold;
  font-size: small;
  padding: 5px;
}
.skills .cta-text{
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

.skills .cta-text h2{
  color: var(--primary);
  padding: 20px;
  font-family: 'ubuntu-medium';
  letter-spacing: 2px;
  font-weight: bolder;
  font-size: x-large;
  text-align: center;
}

.skills h4 {
  padding: 8px;
  color: #fff;
  background: rgb(26, 85, 51);
  position: relative;
  letter-spacing: 1px;
  font-weight: bolder;
  font-family: 'ubuntu-medium';
  border-radius: 20px;
  /* height: ; */
  z-index: 1;
}

.skills h4::before {
  content: '';
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: var(--primary);
  border-radius: 20px;
  z-index: -1;
  left: 0;

}
.skills h4.one::before {
  width: 88%;
} 
.skills h4.two::before {
  width: 60%;
} 
.skills h4.three::before {
  width: 50%;
} 
.skills h4 {
  margin: 10px;
  text-align: center;
}

section {
  margin: 20px;
  padding: 10px;
  box-shadow: 0 0 3px var(--secondary);
  transition: 1s ease;
}

section:hover {
  box-shadow: 0 0 8px var(--secondary);
}

section .section{
  margin: 10px;
  padding: 5px;
}

section .section h3 {
  color: var(--primary);
  text-transform: uppercase;
  margin-bottom: 10px;
  padding: 20px;
  font-family: 'ubuntu-medium';
  letter-spacing: 2px;
  font-weight: bolder;
  font-size: x-large;
  padding-bottom: 10px;
  border-bottom: 3px solid #000;
} 
section .one p, section .section h4 {
  font-family: 'roboto-reg';
  letter-spacing: 2px;
  font-weight: bolder;
}

section .section .flex-row {
  display: flex;
  justify-content: space-between;
}

section .section .flex-row h4:nth-child(even){
  color: gray;
}


@media screen and (min-width: 624px) {
  main, section {
    margin: 40px;
    padding: 20px;
  }
}
@media screen and (min-width: 820px) {
  main, section {
    margin: 60px;
    padding: 40px;
  }
}
@media screen and (min-width: 940px) {
  main, section {
    margin: 100px;
    padding: 80px;
  }
}